<!DOCTYPE html>
<html lang="en">

  <head>

  <!-- Standard meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, 
                      width=device-width, initial-scale=1.0, 
                      minimum-scale=1.0, maximum-scale=1.0, 
                      user-scalable=no, target-densitydpi=device-dpi">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">

    <!-- Preload css -->
    <link rel="preload" href="/css/root.css" as="style" />
    <link rel="preload" href="{{ stylesheet }}" as="style" />

    <!-- Preload fonts -->
    <link rel="preload" href="/assets/fonts/dm-sans-v15-latin-700.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/assets/fonts/dm-sans-v15-latin-regular.woff2" as="font" type="font/woff2" crossorigin />

    <!-- Preload image --> 
    {% if preloadImg != '' %}
      <link rel="preload" as="image" href="{{ preloadImg }}" />
    {% endif %}

    <!-- stylesheets and scripts -->
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="{{ stylesheet }}">
    <script defer src="/assets/js/nav.js"></script>

    {% if script != '' %}
       <script defer src="{{ script }}"></script>
    {% endif %}

    <title>
      {{ title }}
    </title>

  </head>

  <body>

  <!--Screen reader skip main nav-->
    <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

    {% include "components/header.html" %}
    <main id="main">
      {{ content | safe }}
    </main>
    {% include "components/footer.html" %}

  </body>

</html>