---
title: 'Photosnap stories'
description: 'Stories page'
preloadImg: '/assets/images/stories/desktop/moon-of-appalacia.jpg'
permalink: 'stories/'
eleventyNavigation:
   key: stories
   order: 200
layout: layouts/base.html
stylesheet:  /css/stories.css
script:  ''
---

{# for each story create a component #}
  
<section id="hero">  
<!-- loop over stories -->
  {% for story in stories %}

    
     {% if story.featured %}
      <!-- featured story -->
     <div class="featured">

        <picture>
             <!-- Mobile image-->
             <source media="(max-width: 767px)" srcset="/assets/images/stories/mobile/{{ story.imgSrc }}.jpg"/>
             <!-- tablet image* -->
             <source media="(max-width: 1339px)" srcset="/assets/images/stories/tablet/{{ story.imgSrc }}.jpg"/>
          
             <!-- Desktop image -->
             <source media="(min-width: 1440px)" srcset="/assets/images/stories/desktop/{{ story.imgSrc }}.jpg"/>

             <!-- Fallback image --> 
             <img src="/assets/images/stories/desktop/{{ story.imgSrc }}.jpg" alt="{{ story.imgAlt }}" aria-hidden="true" decoding="async" width="1920" height="1200" loading="eager"> 
         </picture>
 
         <div class="cs-text">   
             <p>Last month's featured story</p>

             <h1>{{ story.title }}</h1>
             <p>{{ story.date }} <span>by {{ story.author }}</span></p>
             <p>{{ story.text }}</p>

             <a href="#" class="arrow-link">Read the story <img src="/assets/images/shared/desktop/arrow-light.svg"/ alt="" aria-hidden="true" decoding="async" width="42" height="12" loading="lazy"></a>
         </div>    
      </div> 
     
     {% endif %}

  {% endfor %}
</section>

<section id="stories">

{% for story in stories %}
   
   {% if story.featured == '' %}
    <a href="#" class="non-featured">
      <div class="color-box"></div>
      <picture>
          <!-- Mobile image-->
          <source media="(max-width: 600px)" srcset="/assets/images/stories/mobile/{{ story.imgSrc }}.jpg"/>
          <!-- Desktop image -->
          <source media="(min-width: 601px)" srcset="/assets/images/stories/desktop/{{ story.imgSrc }}.jpg"/>

          <!-- Fallback image --> 
          <img src="/assets/images/stories/desktop/{{ story.imgSrc }}.jpg" alt="{{ story.imgAlt }}" aria-hidden="true" decoding="async" width="" height="" loading=""> 
      </picture>         
      
      <div class="cs-text">
          <p>{{ story.date }}</p>
          <h3>{{ story.title }}</h3>
          <p>by {{ story.author }}</p>

          <span class="arrow-link">Read story <img src="/assets/images/shared/desktop/arrow-light.svg"/ alt="" aria-hidden="true" decoding="async" width="42" height="12" loading="lazy"></span>
      </div>

    </a> 

   {% endif %}

{% endfor %}

</section>