/* STYLES FOR THE HOME PAGE */

/* HERO SECTION */
#hero {
    display: flex;
    flex-direction: column;

    picture {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .cs-text {
        background-color: var(--bgColorDark);
        color: var(--textColorLight);
        position: relative;
        padding: 4em 28px;

        .color-box {
            position: absolute;
            top: 0;
            width: 128px;
            height: 6px;
            background: linear-gradient(#ffc593 0%, #bc7198 52%, #5a77ff 100%);

        }

        p {
            color: var(--grey-500);
        }

        .arrow-link {
            color: var(--textColorLight);
            gap: 18px;
            margin-top: 25px;
        }
    }
}

/* tablet styles */
@media screen and (min-width: 768px) {
    #hero {
        flex-direction: row;
        height: 650px;

        picture {
            order: 1;

            img {
                object-fit: cover;
            }
        }

        .cs-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 54px;
            max-width: 610px;

            .color-box {
                width: 6px;
                height: 304px;
                left: 0;
                top: 173px;
                transform: rotate(0.5turn);
            }

            h1 {
                margin: 0;
                font-size: 40px;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1399px) {
    #hero {
        .cs-text {
            padding: 111.5px;
        }
    }
}

/* desktop - large screens */
@media screen and (min-width: 1455px) {
    #hero {
        picture {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .cs-text {
            max-width: none;
            width: 50%;

            p {
                max-width: 600px;
            }
        }
    }
}

/* SIDE BY SIDE SECTION 1 */
#sbs-r {
    picture {
        img {
            width: 100%;
            height: auto;
        }
    }

    .cs-text {
        padding: 5em 2em;

        h2 {
            text-transform: uppercase;
            margin-top: 0;
            font-size: 32px;
        }

        p {
            color: var(--grey-500);
        }

        .arrow-link {
            gap: 18px;
            margin-top: 25px;
        }
    }
}

/* tablet styles */
@media screen and (min-width: 768px) {
    #sbs-r {
        height: 600px;
        display: flex;

        picture {
            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 50px;
            max-width: 610px;

            h2 {
                font-size: 40px;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1399px) {
    #sbs-r {
        .cs-text {
            padding: 111.5px;
        }
    }
}

/* desktop - large screens */
@media screen and (min-width: 1455px) {
    #sbs-r {
        picture {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .cs-text {
            max-width: none;
            width: 50%;

            p {
                max-width: 600px;
            }
        }
    }
}

/* SIDE BY SIDE SECTION 2 */
#sbs-l {
    picture {
        img {
            width: 100%;
            height: auto;
        }
    }

    .cs-text {
        padding: 5em 2em;

        h2 {
            text-transform: uppercase;
            margin-top: 0;
            font-size: 32px;
        }

        p {
            color: var(--grey-500);
        }

        .arrow-link {
            gap: 18px;
            margin-top: 25px;
        }
    }
}

/* tablet styles */
@media screen and (min-width: 768px) {
    #sbs-l {
        height: 600px;
        display: flex;

        picture {
            order: 1;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 50px;
            max-width: 610px;

            h2 {
                font-size: 40px;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1399px) {
    #hero {
        .cs-text {
            padding: 111.5px;
        }
    }
}

/* desktop - large screens */
@media screen and (min-width: 1455px) {
    #sbs-l {
        picture {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .cs-text {
            max-width: none;
            width: 50%;

            p {
                max-width: 600px;
            }
        }
    }
}

/* STORIES SECTION */
#stories {
    display: grid;
    grid-template-columns: 1fr;

    .story {
        position: relative;
        color: var(--textColorLight);

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(#00000002 0%, #0000007c 100%);
            position: absolute;
            display: block;
            top: 0;
            right: 0;
        }

        .color-box {
            display: none;
            width: 100%;
            bottom: 0;
            left: 0;
            top: auto;
            transform: rotate(0.5turn);
        }

        &:hover {
            bottom: 30px;

            .color-box {
                display: block;
            }
        }

        picture {
            width: 100%;
            height: auto;
            z-index: -2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        .cs-text {
            position: absolute;
            bottom: 10%;
            left: 10%;
            width: 80%;
            letter-spacing: 0;

            h3 {
                margin: 0;
            }

            p {
                padding-bottom: 1em;
                border-bottom: 1px solid var(--grey-500);
                font-size: 13px;
                margin-top: 5px;
                margin-bottom: 25px;
            }

            .arrow-link {
                justify-content: space-between;
                letter-spacing: 2px;
            }
        }

    }
}

/* tablet styles */
@media screen and (min-width: 768px) {
    #stories {
        grid-template-columns: 1fr 1fr;

        .story {
            height: 500px;
        }
    }
}

/* desktop styles */
@media screen and (min-width: 1300px) {
    #stories {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* FEATURES SECTION */
#features {
    padding: 4em 28px;
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: center;

    .feature {
        text-align: center;
        max-width: 460px;

        img {
            margin-bottom: 30px;
        }

        p {
            color: var(--grey-500);
        }
    }
}

/* desktop */
@media screen and (min-width: 1399px) {
    #features {
        flex-direction: row;
        padding: 165px;
        gap: 30px;

        .feature {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 20px;
            width: 340px;

            div {
                height: 72px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-bottom: 0;
                }
            }

            h3 {
                margin-top: 30px;
                margin-bottom: 0;
            }

            p {
                justify-self: end;
                margin: 0;
            }
        }
    }

}