/* STYLES FOR THE HOME PAGE */

/* HERO SECTION */
#hero {

    display: flex;
    flex-direction: column;

    picture {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .cs-text {
        background-color: var(--bgColorDark);
        color: var(--textColorLight);

        padding: 4em 2em;
    }
}

/* SIDE BY SIDE SECTION 1 */
#sbs-r {
    picture {
        img {
            width: 100%;
            height: auto;
        }
    }

    .cs-text {
        padding: 5em 2em;

        h2 {
            text-transform: uppercase;
            margin-top: 0;
            font-size: 32px;
        }
    }
}

/* SIDE BY SIDE SECTION 2 */
#sbs-l {
    picture {
        img {
            width: 100%;
            height: auto;
        }
    }

    .cs-text {
        padding: 5em 2em;

        h2 {
            text-transform: uppercase;
            margin-top: 0;
            font-size: 32px;
        }
    }
}

/* STORIES SECTION */
#stories {
    display: grid;
    grid-template-columns: 1fr;

    .story {
        position: relative;
        color: var(--textColorLight);

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
			display: block;
			top: 0;
			right: 0;
        }

        picture {
            width: 100%;
            height: auto;
            z-index: -2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        .cs-text {
            position: absolute;
            bottom: 10%;
            left: 10%;
            width: 80%;

            h3 {
                margin: 0;
            }

            p {
                padding-bottom: 1em;
                border-bottom: 1px solid var(--grey-500);
            }

            span {
                font-size: 12px;
                text-transform: uppercase;
            }
        }

    }
}

/* FEATURES SECTION */
#features {
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    gap: 4em;

    .feature {
        text-align: center;

        img {
            margin-bottom: 30px;
        }
    }
}