/* STYLES FOR THE PRICING PAGE */

/* HERO SECTION */
#hero {

    display: flex;
    flex-direction: column;

    picture {
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .cs-text {
        background-color: var(--bgColorDark);
        color: var(--textColorLight);
        padding: 4em 28px;
        position: relative;

        p {
            color: var(--grey-500);
        }
    }
}

/* tablet styles */
@media screen and (min-width: 768px) {
    #hero {
        flex-direction: row;
        height: 490px;

        picture {
            width: 100%;
            order: 1;

            img {
                object-fit: cover;
            }
        }

        .cs-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 50px;
            max-width: 610px;

            .color-box {
                width: 6px;
                height: 144px;
                left: 0;
                top: 173px;
                transform: rotate(0.5turn);
            }

            h1 {
                margin: 0;
                font-size: 40px;
            }
        }
    }

}

/* PRICING OPTIONS SECTION */
/* toggle */
.toggle {
    cursor: pointer;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    align-items: center;

    .toggle-label {
        font-size: 18px;
        font-weight: 700;
        color: var(--grey-500);

    }

    .toggle-checkbox {
        position: absolute;
        visibility: hidden;
    }

    // selected option
    .cs-active {
        color: var(--textColorDark);
    }
}

.toggle-switch {
    display: inline-block;
    background: var(--grey-200);
    border-radius: 16px;
    width: 64px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;

    &:before,
    &:after {
        content: "";
    }

    &:before {
        display: block;
        background: var(--bgColorDark);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 5px;
        transition: left 0.25s;
    }

    .toggle:hover &:before {
        background: var(--bgColorLight);
    }

    .toggle-checkbox:checked+& {
        background: var(--grey-200);

        &:before {
            left: 35px;
        }
    }

}


#pricing-options {
    padding: 4em 28px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;

        .option {
            background-color: var(--grey-100);
            padding: 36px 18px;
            text-align: center;
            max-width: 350px;

            h3 {
                font-size: 24px;
            }

            .interval,
            p {
                color: var(--grey-500);
            }

            .price {
                display: block;
                font-size: 40px;
                font-weight: 700;
                margin-top: 40px;
                margin-bottom: 10px;
                letter-spacing: 4.17px;
            }

            .cs-button {
                display: block;
                text-align: center;
                margin: auto;
                margin-top: 40px;
                width: 245px;
            }

            &:nth-of-type(2) {
                background-color: var(--bgColorDark);
                color: var(--textColorLight);
                position: relative;

                .color-box {
                    width: 100%;
                    left: 0;
                }

                .cs-button {
                    background-color: var(--bgColorLight);
                    color: var(--textColorDark);
                }
            }


        }
    }
}

/* tablet styles */
@media screen and (min-width: 768px) {
    #pricing-options {
        padding-top: 100px;

        .wrapper {
            .option {
                width: 689px;
                max-width: none;
                height: 270px;
                padding: 40px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "heading price"
                    "text price"
                    "button .";
                row-gap: 10px;

                &:nth-of-type(2) {
                    .color-box {
                        height: 100%;
                        width: 6px;
                        left: 0;
                        top: 0;
                        transform: rotate(0.5turn);
                    }
                }

                h3 {
                    grid-area: heading;
                    margin: 0;
                    text-align: left;
                }

                p {
                    grid-area: text;
                    text-align: left;
                    width: 270px;
                }

                .cs-button {
                    grid-area: button;
                    margin: 0;
                    height: 40px;
                    width: 270px;
                    justify-self: start;
                }

                .price-wrapper {
                    grid-area: price;
                    text-align: right;

                    .price {
                        margin: 0;
                    }

                    .interval {
                        position: relative;
                        right: 15px;
                    }
                }
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1399px) {
    #pricing-options {
        .wrapper {
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .option {
                width: 350px;
                height: auto;
                display: block;

                &:nth-of-type(2) {
                    padding: 80px 40px;

                    .color-box {
                        height: 6px;
                        width: 100%;
                        left: 0;
                        top: 0;
                        // transform: rotate(0.5turn);
                    }
                }

                h3 {
                    text-align: center;
                    margin: 1em;
                }

                p {
                    text-align: center;
                }

                .price-wrapper {
                    text-align: center;
                    margin: 40px 0;

                    .interval {
                        right: 0;
                    }
                }

                .cs-button {
                    margin-top: 30px;
                }
            }
        }
    }
}

/* COMPARISON TABLE SECTION */
#compare {
    padding: 4em 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;

    table {
        table-layout: fixed;
        width: 85vw;
        border-collapse: collapse;
        margin: auto;

        caption {
            opacity: 0;
        }

        thead {
            border-bottom: 1px solid var(--grey-500);

            /* hidden t headings */
            th {
                width: 10%;
                font-size: 12px;
                text-transform: uppercase;
                padding: 20px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                opacity: 0;


                /* the features heading */
                &:nth-of-type(1) {
                    width: 50%;
                    opacity: 1;
                    text-align: left;
                }
            }
        }

        tbody {

            tr {
                display: grid;
                grid-template-areas: "heading heading heading"
                    "cell1 cell2 cell3";
                grid-template-columns: 1fr 1fr 1fr;
                border-bottom: 1px solid var(--grey-200);
                padding: 18px 0;
                width: 85vw;
                row-gap: 15px;

                th {
                    grid-area: heading;
                    justify-self: start;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                }

                td {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-areas: "column"
                        ".";
                    row-gap: 5px;

                    /* heading text */
                    &::before {
                        font-size: 10px;
                        font-weight: 700;
                        color: var(--grey-500);
                        letter-spacing: 1.67px;
                    }


                    &:nth-of-type(1) {
                        grid-area: cell1;

                        &::before {
                            content: "BASIC";
                            grid-area: column;

                        }
                    }

                    &:nth-of-type(2) {
                        grid-area: cell2;

                        &::before {
                            content: "PRO";
                            grid-area: column;
                        }
                    }

                    &:nth-of-type(3) {
                        grid-area: cell3;

                        &::before {
                            content: "BUSINESS";
                            grid-area: column;
                        }
                    }
                }

                /* checkmark */
                .check {
                    grid-template-areas: "column"
                        "check";

                    &::after {
                        content: "\2714";
                        grid-area: check;
                    }
                }
            }
        }
    }
}

/* tablet styles */
@media screen and (min-width: 768px) {
    #compare {
        padding-top: 50px;
        padding-bottom: 100px;

        table {
            max-width: 730px;

            caption {
                opacity: 1;
                font-size: 40px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 4.17px;
                margin-bottom: 50px;
            }

            thead {

                tr {
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr 1fr;
                    grid-template-areas: "features basic pro business";

                    th {
                        opacity: 1;
                        width: initial;

                        &:nth-of-type(1) {
                            width: initial;
                            grid-area: features;
                        }

                        &:nth-of-type(2) {
                            grid-area: basic;
                            justify-self: center;
                        }

                        &:nth-of-type(3) {
                            grid-area: pro;
                            justify-self: center;
                        }

                        &:nth-of-type(4) {
                            grid-area: business;
                            justify-self: center;
                        }
                    }


                }

            }

            tbody {

                tr {
                    grid-template-areas: "heading cell1 cell2 cell3";
                    grid-template-columns: 2fr 1fr 1fr 1fr;
                    justify-items: center;
                    max-width: 730px;
                    align-items: center;

                    td {
                        &::before {
                            display: none;
                        }

                    }
                }

            }
        }
    }
}