/* STYLES FOR THE STORIES PAGE */



/* HERO SECTION*/
#hero {
    display: flex;
    flex-direction: column;

    .featured {
        picture {
            display: block;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .cs-text {
            background-color: var(--bgColorDark);
            color: var(--textColorLight);
            padding: 4em 28px;

            h1+p {
                color: var(--grey-500);

                span {
                    color: var(--textColorLight);
                }
            }

            p {
                &:nth-of-type(1) {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 2px;
                }

                &:nth-of-type(3) {
                    color: var(--grey-500);
                }
            }

            .arrow-link {
                gap: 18px;
            }
        }
    }
}

/* tablet */
@media screen and (min-width: 768px) {
    #hero {
        .featured {
            position: relative;
            height: 650px;

            picture {
                height: 100%;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }

            .cs-text {
                background: transparent;
                position: absolute;
                bottom: 121px;
                left: 10%;
                width: 387px;
                padding: 0;

                h1 {
                    font-size: 40px;
                    margin-top: 20px;
                }
            }
        }


    }
}

/* NON-FEATURED STORIES */
#stories {
    display: grid;
    grid-template-columns: 1fr;

    .non-featured {
        position: relative;
        color: var(--textColorLight);

        .color-box {
            display: none;
            width: 100%;
            bottom: 0;
            left: 0;
            top: auto;
            transform: rotate(0.5turn);
        }

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(#00000002 0%, #0000007c 100%);
            position: absolute;
            display: block;
            top: 0;
            right: 0;
        }

        &:hover {
            bottom: 30px;

            .color-box {
                display: block;

            }
        }

        picture {
            width: 100%;
            height: auto;
            z-index: -2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        .cs-text {
            position: absolute;
            bottom: 10%;
            left: 10%;
            width: 80%;
            letter-spacing: 0;

            h3 {
                margin: 0;
            }

            p {
                font-size: 13px;

                &:nth-of-type(1) {
                    margin-bottom: 5px;
                }

                &:last-of-type {
                    padding-bottom: 1em;
                    border-bottom: 1px solid var(--grey-500);

                    margin-top: 5px;
                    margin-bottom: 25px;
                }

            }

            .arrow-link {
                justify-content: space-between;
                letter-spacing: 2px;
            }
        }

    }
}

/* tablet */
@media screen and (min-width: 768px) {
    #stories {
        grid-template-columns: 1fr 1fr;

        .non-featured {
            height: 500px;
        }
    }
}

/* desktop */
@media screen and (min-width: 1300px) {
    #stories {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}